<!DOCTYPE html>
<html lang="en" ng-app="homepage">
<head>
    <meta charset="UTF-8">
    <title>Zach's Homepage</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/Controllers/HomePageController.js"></script>
    <script src="js/moment.min.js"></script>
</head>
<body ng-controller="HomePageController" class="center-block" style="width: 1300px">
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-7">
            <div class="panel panel-primary" ng-repeat="group in links">
                <div class="panel-heading">
                    <div class="panel-title text-center"> {{group.group}} </div>
                </div>
                <div class="panel-body">
                    <div class="center-block">
                        <a ng-repeat="link in group.links" href="{{link.link}}" style="text-decoration: none; margin-bottom: 10px;">
                            <button ng-if="$even" type="button" class="btn btn-primary btn-lg"> {{link.title}} </button>
                            <button ng-if="$odd" type="button" class="btn btn-default btn-lg"> {{link.title}} </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 right-col">
            <div class="page-header">
                <h2> {{ currDate }} </h2>
            </div>
            <div class="weather-block ">
                <div class="current">
                    <div class="row temp">
                        Current temp: {{ weather.currentTemp }}&#176<sup class="temp-unit">F</sup>
                    </div>
                    <div class="row conditions">
                        Current conditions are {{ weather.currentCondition }}
                        <img ng-src="{{weather.currentIcon}}" alt="Current condition image for {{ weather.currentCondition }}"/>
                    </div>
                </div>
                <hr>
                <div class="forecast">
                    <div class="row temp">
                        Today's high: {{ weather.high }}&#176<sup class="temp-unit">F</sup>
                    </div>
                    <div class="row temp">
                        Today's low: {{ weather.low }}&#176<sup class="temp-unit">F</sup>
                    </div>
                    <div class="row conditions">
                        Today's conditions are {{ weather.condition }}
                        <img ng-src="{{weather.icon}}" alt="Current weather icon for {{ weather.condition }}"/>
                    </div>
                    <div class="row forecast-link">
                        <a href="{{weather.forecastLink}}">Today's forecast link for {{ city }}.</a>
                    </div>
                </div>
                <hr>
                <div class="championgg">
                    <div class="row champ-label">
                        Champion.gg Direct
                    </div>
                    <div class="row">
                        <input ng-model="champion" type="text" ng-keydown="checkKey($event)">
                        <a href="http://champion.gg/champion/{{champion}}" id="champggLink"><button>Go</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
